[submodule "snippets"]
        path = package/yasnippet/snippets
        url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "yasmate"]
        path = package/yasnippet/yasmate
        url = https://github.com/capitaomorte/yasmate.git
[submodule "package/slime"]
	path = package/slime
	url = https://github.com/slime/slime.git
[submodule "package/skewer-mode"]
	path = package/skewer-mode
	url = https://github.com/skeeto/skewer-mode.git
[submodule "package/emacs-web-server"]
	path = package/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "package/f.el"]
	path = package/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "package/s.el"]
	path = package/s.el
	url = https://github.com/magnars/s.el.git
[submodule "package/dash.el"]
	path = package/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "package/flycheck"]
	path = package/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "package/swift-mode"]
	path = package/swift-mode
	url = https://github.com/chrisbarrett/swift-mode.git
