auto-save-list/
server/
url/
trash/
abbrev_defs
ac-comphist.dat
.mc-lists.el
.ropeproject
session.*
package/**/.travis*
package/**/.git*
package/**/.cvs*
*.py[co]
*.elc
*~
*.bak
*.class
\#*\#
package/magit/dir
package/magit/magit-autoloads.el
package/magit/magit.info
backup/
eshell/
.emacs.desktop*
tramp
org-notes
