[submodule "snippets"]
        path = package/yasnippet/snippets
        url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "yasmate"]
        path = package/yasnippet/yasmate
        url = https://github.com/capitaomorte/yasmate.git
[submodule "package/jshint-mode"]
	path = package/jshint-mode
	url = https://github.com/daleharvey/jshint-mode.git
[submodule "package/slime"]
	path = package/slime
	url = https://github.com/slime/slime.git
