[submodule "package/yasnippet/snippets"]
        path = package/yasnippet/snippets
        url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "yasmate"]
        path = package/yasnippet/yasmate
        url = https://github.com/capitaomorte/yasmate.git
[submodule "package/slime"]
	path = package/slime
	url = https://github.com/slime/slime.git
[submodule "package/skewer-mode"]
	path = package/skewer-mode
	url = https://github.com/skeeto/skewer-mode.git
[submodule "package/emacs-web-server"]
	path = package/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server.git
[submodule "package/f.el"]
	path = package/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "package/s.el"]
	path = package/s.el
	url = https://github.com/magnars/s.el.git
[submodule "package/dash.el"]
	path = package/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "package/flycheck"]
	path = package/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "package/swift-mode"]
	path = package/swift-mode
	url = https://github.com/chrisbarrett/swift-mode.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/jlhg/yasnippet-snippets.git
[submodule "package/Highlight-Indentation-for-Emacs"]
	path = package/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "package/company-mode"]
	path = package/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "package/elpy"]
	path = package/elpy
	url = https://github.com/jorgenschaefer/elpy.git
[submodule "package/find-file-in-project"]
	path = package/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "package/idomenu"]
	path = package/idomenu
	url = https://github.com/birkenfeld/idomenu.git
[submodule "package/pyvenv"]
	path = package/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "package/auto-complete"]
	path = package/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "package/magit"]
	path = package/magit
	url = https://github.com/magit/magit.git
[submodule "package/yard-mode.el"]
	path = package/yard-mode.el
	url = https://github.com/pd/yard-mode.el.git
[submodule "package/robe"]
	path = package/robe
	url = https://github.com/dgutov/robe.git
[submodule "package/inf-ruby"]
	path = package/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "package/coffee-mode"]
	path = package/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "package/osx-clipboard-mode"]
	path = package/osx-clipboard-mode
	url = https://github.com/joddie/osx-clipboard-mode.git
[submodule "package/js-doc"]
	path = package/js-doc
	url = https://github.com/mooz/js-doc.git
[submodule "package/scss-mode"]
	path = package/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "package/helm"]
	path = package/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "package/emacs-async"]
	path = package/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "package/php-mode"]
	path = package/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "package/js2-mode"]
	path = package/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "package/enhanced-ruby-mode"]
	path = package/enhanced-ruby-mode
	url = https://github.com/zenspider/enhanced-ruby-mode.git
